<style >
.img-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 10px auto;
}

.form-group {
    text-align: left;
}
</style >
